body {
    margin: 0;
}

.Map {
    position: relative;
}

.MapImg {
    width: 100%;
    height: 100%;
}

.TargetingBox {
    position: absolute;
    border: none;
    background-color: inherit;
    border-radius: 50px;
}

.TargetingBoxFound {
    border: 2px solid rgb(43, 78, 43);
    background-color: rgba(83, 84, 84, 0.287);
}
